@import "../../styles/variables.scss";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #212121;
  box-shadow: 0 0 5px #000000a3;
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  height: $header-height;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: 260px;
}

.logo__img {
  margin: 0 16px;
  height: 48px;
}

.logo__text {
  font-size: 48px;
  font-weight: bold;
  color: white;

  & span {
    white-space: nowrap;
    font-size: 16px;
  }
}

.nav {
  display: flex;
  gap: 40px;
}

.nav__link {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    transition: 0.15s;
    opacity: 0.5;
  }

  &--selected {
    font-size: 17px;
    font-weight: 600;
  }
}

.header__icons {
  display: flex;
  gap: 20px;
}

.header__img {
  filter: invert(1);
  opacity: 0.5;
  transition: 0.3s;
}

.header__img:hover {
  opacity: 1;
  transition: 0.15s;
}

/* --------- end header ------- */
